<!DOCTYPE html>
<html>
  <head>
    <title>My Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    | 
   <a href="/skills">All Skills</a>

