<%-include('../partials/header') %>
  
<form action="/skills" method="POST" >
 <input type="text" name="tech">
 <button type="submit">Save a skill</button>
</form>

<%-include('../partials/footer') %>