<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Each skill</title>
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/skills">&lt; Back</a></li>
      </ul>
    </nav>

    <hgroup>
      <h1><%= eachSkill.tech %></h1>
     
    </hgroup>

    <h2><%= eachSkill.level %></h2>

  </main>
</body>
</html>